# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FGAI.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Philip Wallner\Documents\Unreal Projects\FGAI\.idea\.idea.FGAI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
